*{
    margin: 0;
    padding:0;
    box-sizing: border-box; /* deducts the outside values  */ 
    font-family: Roboto;
}
.Hero-Section{
   background-color: #F4F4F9;
   height: 100vh;
   width: 100%;
   font-family: Roboto;
   display: flex;
   position:relative;
}
.Navigation{
   display: flex;
   justify-content: flex-end;
   position: fixed;
   right: 0px;
   z-index: 11;
}
.Custom-icon{
   display: flex;
   justify-content: space-evenly;
   height: fit-content;
   width: 180px;
   position: absolute ;
   top: 60px;
   right: 1550px;
   z-index: 1;
   font-size: 26px;
   color: #112A46;
}
.Custom-icon span{
   rotate: deg;
   color:#A78BFA;
}
.Hero-link{
   height: fit-content;
   width: 480px;
   list-style: none;
   display: flex;
   position: relative;
   top: 60px;
   right: 95px;
   gap: 32px;
   font-size: 20px;
   font-weight: bold;
   color: #112A46;

}
.Contact-me{
   background-color: #5C199F;
   border: none;
   border-radius: 12px;
   height: 50px;
   width: 160px;
   font-size: 21px;
   font-weight: bold;
   color: white;
   position: relative;
   top: 45px;
   right: 100px;
}
 .Tag{
   color: #112A46;
   opacity: 0.3;
   position: absolute;
   left: 30px;
   top:0;
   bottom: 0;
   font-family: Roboto Mono;
   font-size: 130px;
   font-weight: bolder;
   transform: rotate(-90deg) ;
   letter-spacing: 24px;
 }
.Design{
   height: 600px;
   width:auto;
   position: absolute;
   bottom: 0;
   right: 0;
  
}
.Intro-container{
   position: relative;
   top: 500px;
   left:210px; 
   height: 26%;
   width:700px;
}
.Intro{
   font-size: 28px;
   color: rgba(0, 0, 0, 0.726);
}
.Intro h1{
   color: rgb(0, 0, 0);
}
.Intro-Button-Group{
 height: auto;
 width:400px;  
 display: flex;
 gap: 30px;
 position: absolute;
 bottom: 0;
}
.Intro-Text{
   position: absolute;
   top: 120px;
   text-align: justify;
    color: rgba(0, 0, 0, 0.726);
}
.Intro-Button01{
   background-color: #5C199F;
   border: none;
   border-radius: 12px;
   height: 50px;
   width: 180px;
   font-size: 21px;
   font-weight: bold;
   color: white;
   align-items: center;
}
.Intro-Button02{
   background-color: #5C199F;
   border: none;
   border-radius: 12px;
   height: 50px;
   width: 180px;
   font-size: 21px;
   font-weight: bold;
   color: white;
}
.Profile-Pic{
   height: 90%;
   width:auto;
   position: absolute;
   right: 60px;
   bottom:0;
   
}
.About{
   height: 100vh;
   width:100%;
   background-color: #e9d9f3;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;

}
.About-Container{
   height: 66%;
   width:76%;
   background-color: #F4F4F9;
   display: flex;
   position: relative;
   border-radius: 25px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
   box-shadow: 3px 3px 10px #cda3e5 ;
}
.About-Container h1{
   color: #112A46;
   font-size: 40px;
}
.About-me-Text{
    height: 30%;
    width: 80%;
    font-size: 20px;
    text-align: center;
}
.Info-Container{
   height: 20%;
   width: 76%;
   display: flex;
   justify-content: space-between;
   font-size: 20px;
}